{% extends 'base.html' %}
{% load static %}
{% block content%}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'index' %}" rel="nofollow">Home</a>
                <span></span> Shop
            </div>
        </div>
    </div>
    <section class="mt-60 mb-60">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p> We found <strong class="text-brand">{{ products.count }}</strong> items for you!</p>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fa fa-th"></i>Show:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> 50 <i class="far fa-angle-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">50</a></li>
                                        <li><a href="#">100</a></li>
                                        <li><a href="#">150</a></li>
                                        <li><a href="#">200</a></li>
                                        <li><a href="#">All</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fa fa-sort-amount-down"></i>Sort by:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> Featured <i class="far fa-angle-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">Featured</a></li>
                                        <li><a href="#">Price: Low to High</a></li>
                                        <li><a href="#">Price: High to Low</a></li>
                                        <li><a href="#">Release Date</a></li>
                                        <li><a href="#">Avg. Rating</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row product-grid-3">
                        {% for product in products %}
                            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="{{ product.get_absolute_url }}">
                                            <img class="default-img" src="{{ product.images.first.image.url }}"
                                            alt="{{ product.slug }}">
                                        <img class="hover-img" src="{{ product.images.last.image.url }}"
                                            alt="{{ product.slug }}">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn hover-up"><i class="far fa-search"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="far fa-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="far fa-exchange-alt"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="{{ product.status|lower }}">{{ product.status }}</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="{% url 'shop' %}">{{ product.categories.first.name }}</a>
                                        </div>
                                        <h2><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                {% if product.percentage %}
                                                    <span>{{product.percentage}}%</span>
                                                {% else %}
                                                    <br>
                                                {% endif %}
                                                
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            {% if product.percentage %}
                                                <span>$ {{ product.get_new_price }} </span>
                                                <span class="old-price">$ {{ product.price }}</span>
                                            {% else %}
                                                <span>$ {{ product.price }} </span>
                                            {% endif %}
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="far fa-shopping-bag"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!--pagination-->
                    <div class="pagination-area mt-15 mb-md-5 mb-lg-0">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                {% if products.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">«</a></li>
                                    
                                    {% if products.number > 3 %}
                                        <li class="page-item"><a class="page-link" href="#">01</a></li>
                                        {% if products.number > 4 %}
                                            <span>...</span>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                                {% for num in products.paginator.page_range %}
                                  {% if products.number == num %}
                                    <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if products.has_next %}
                                {% if products.number < products.paginator.num_pages|add:'-3' %}
                                    <span>...</span>
                                    <li class="page-item"><a class="page-link" href="?page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a></li>
                                {% elif products.number < products.paginator.num_pages|add:'-2' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a></li>
                                {% endif %}

                            <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">»</a></li>
                            {% endif %}

                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div class="widget-area">
                        <!--Widget categories-->
                        <div class="sidebar-widget widget_categories mb-30 p-30 bg-grey border-radius-10">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">All Categories</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="">
                                <ul class="categor-list">
                                    {% for category in categories %}
                                        <li class="cat-item text-muted"><a href="{% url 'shop' %}">{{ category.name }}</a>({{ category.product_set.all|length }})</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- Fillter By Price -->
                        <div class="sidebar-widget price_range range mb-30">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">Fill by price</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="price-filter">
                                <div class="price-filter-inner">
                                    <div id="slider-range"></div>
                                    <div class="price_slider_amount">
                                        <div class="label-input">
                                            <span>Range:</span><input type="text" id="amount" name="price" placeholder="Add Your Price">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group">
                                <div class="list-group-item mb-10 mt-10">
                                    <label class="fw-900">Color</label>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                        <label class="form-check-label" for="exampleCheckbox1"><span>Red (56)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox2" value="">
                                        <label class="form-check-label" for="exampleCheckbox2"><span>Green (78)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox3" value="">
                                        <label class="form-check-label" for="exampleCheckbox3"><span>Blue (54)</span></label>
                                    </div>
                                    <label class="fw-900 mt-15">Item Condition</label>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="">
                                        <label class="form-check-label" for="exampleCheckbox11"><span>New (1506)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox21" value="">
                                        <label class="form-check-label" for="exampleCheckbox21"><span>Refurbished (27)</span></label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox31" value="">
                                        <label class="form-check-label" for="exampleCheckbox31"><span>Used (45)</span></label>
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'shop' %}" class="btn btn-sm btn-default"><i class="fa fa-filter mr-5 ml-0"></i> Fillter</a>
                        </div>
                        <!-- Product sidebar Widget -->
                        <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">New products</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            {% for product in new_products %}
                                <div class="single-post clearfix">
                                    <div class="image">
                                        <img src="{{ product.images.first.image.url }}" alt="#">
                                    </div>
                                    <div class="content pt-10">
                                        <h5><a href="shop-product-detail.html">{{ product.name }}</a></h5>
                                        <p class="price mb-0 mt-5">$ {{ product.price }}</p>
                                        <div class="product-rate">
                                            <div class="product-rating" style="width:{{ product.rate_percentage }}%"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!--Widget ads-->
                        <div class="sidebar-widget widget-ads mb-30">
                            <div class="banner-img banner-1 wow fadeIn  animated" style="visibility: visible; animation-name: fadeIn;">
                                <img class="border-radius-10" src="{% static '' %}assets/imgs/banner/banner-5.jpg" alt="">
                                <div class="banner-text">
                                    <span>Gaming Area</span>
                                    <h4>Save 17% on <br>Assus Laptop</h4>
                                    <a href="{% url 'shop' %}">Shop Now <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--Widget categories-->
                        <div class="sidebar-widget widget_categories mb-50 p-30 bg-grey border-radius-10">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">Manufacturers</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="">
                                <ul class="categor-list">
                                    {% for brand in brands %}
                                        <li class="cat-item text-muted"><a href="{% url 'shop' %}">{{ brand.name }}</a>({{ brand.product_set.all|length }})</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}