{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block content %}
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'index' %}" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Your Cart
                </div>
            </div>
        </div>
        <section class="mt-60 mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order_items %}
                                        <tr>
                                            <td class="image product-thumbnail"><img src="{{ item.product.images.first.image.url }}" alt="#"></td>
                                            <td class="product-des product-name">
                                                <p class="product-name"><a href="{{ item.product.get_absolute_url }}">{{item.product.name}}</a></p>
                                            </td>
                                            <td class="price" data-title="Price"><span>${{ item.product.get_new_price|intcomma }} </span></td>
                                            <td class="text-center" data-title="Stock">
                                                <div class="detail-qty border radius  m-auto">
                                                    <span class="qty-val">{{ item.quantity }}</span>
                                                </div>
                                            </td>
                                            <td class="text-right" data-title="Cart">
                                                <span>${{ item.price|intcomma }} </span>
                                            </td>
                                            <td class="action" data-title="Remove"><a href="{% url 'delete_item' item.id %}" class="text-muted"><i class="fa fa-trash-alt"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                    <td colspan="6" class="text-end">
                                        <a href="#" class="text-muted"> <i class="fa fa-times-circle"></i> Clear Cart</a>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-action text-end">
                            <a class="btn btn-rounded mr-10"><i class="far fa-retweet mr-5"></i>Update Cart</a>
                            <a href="{% url 'shop' %}" class="btn btn-rounded"><i class="far fa-cart-plus mr-5"></i>Continue Shopping</a>
                        </div>
                        <div class="divider center_icon mt-50 mb-50"><i class="fa fa-gem"></i></div>
                        <div class="row mb-50">
                            <div class="col-lg-6 col-md-12">
                                <div class="heading_s1 mb-3">
                                    <h4>ZakaZ | Buyurtma berish</h4>
                                </div>
                                <form class="field_form shipping_calculator" method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-lg-12">
                                            <div class="custom_select">
                                                <select class="form-control select-active" name="address" required>
                                                    <option value="">Choose a option...</option>
                                                    {% for branch in branchs %}
                                                        <option value="{{branch.address}}">{{ branch.address }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="form-group col-lg">
                                            <input required="required" placeholder="Full_name *" name="name" type="text">
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="form-group col-lg-6">
                                            <input required="required" placeholder="Phone number *" name="phone_number" type="text">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <input placeholder="Email" name="email" type="email">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-12">
                                            <button type="submit" class="btn btn-rounded btn-sm"><i class="far fa-retweet mr-5"></i>Buyurtma</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="border p-md-4 p-30 border-radius-10 cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Cart Totals</h4>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label">Cart Subtotal</td>
                                                    <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">$240.00</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                    <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand">$240.00</span></strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <a href="#" class="btn btn-rounded"> <i class="fa fa-share-square mr-10"></i> Proceed To CheckOut</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock%}
    