{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block content %}

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'index' %}" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Wishlist
                </div>
            </div>
        </div>
        <section class="mt-60 mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col" colspan="2">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Brand</th>
                                        <th scope="col">Action</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for wishlist in wishlists %}
                                        <tr>
                                            <td class="image product-thumbnail"><img src="{{ wishlist.product.images.first.image.url }}" alt="#"></td>
                                            <td class="product-des product-name">
                                                <p class="product-name"><a href="{{ wishlist.product.get_absolute_url }}">{{ wishlist.product.name }}</a></p>
                                            </td>
                                            <td class="price" data-title="Price">
                                            <span>
                                                {% if wishlist.product.percentage %}
                                                    <p class="font-xs">${{ wishlist.product.get_new_price|intcomma }}<br>
                                                {% else %}
                                                    <p class="font-xs">${{ wishlist.product.price|intcomma }}<br>
                                                {% endif %}
                                            </span></td>
                                            <td class="text-center" data-title="Stock">
                                                <span class="color3 font-weight-bold">{{wishlist.product.brand.name}}</span>
                                            </td>
                                            <td class="text-right" data-title="Cart">
                                                <button id="wishlist-to-cart" data-product-id="{{ wishlist.product.id }}" class="btn btn-rounded btn-sm"><i class="far fa-shopping-bag mr-5"></i>Add to cart</button>
                                            </td>
                                            <td class="action" data-title="Remove"><a href="{% url 'wishlist_delete' wishlist.id %}"><i class="fa fa-trash-alt" id="remove-product" data-product-id="{{ wishlist.product.id }}"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            $('#wishlist-to-cart').click(function(){
                var productId = $(this).data('product-id');
                var quantity = 1;
    
                $.ajax({
                    url: "{% url 'add_to_cart' %}",
                    data: {
                        'product_id': productId,
                        'quantity': quantity,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    type: 'POST',
                    success: function(response){
                        console.log("Success!")
                    },
                    error: function(response){
                        // Handle the error here
                        console.log(response);
                        alert('Something went wrong!');
                    }
                });
            });
        });

    </script>

{% endblock %}